<div class="ui raised segment margin-top inverted">
  <h4 class="ui header">Willkommen im PavoChat</h4>
  <p>Bitte gebe in den nächsten Feldern deinen Namen an und den Chatraum, den du betreten möchtest.</p>
  <div class="ui three column grid">
    <div class="row">
      <div class="column">
        <form class="ui form">
          <div class="ui inverted input" [ngClass]="{error: _userNameWrong}">
            <input type="text" placeholder="Benutzername" class="custom-width"  [(ngModel)]="_userName" required="" (keyup.enter)="joinChatRoom(_chatRoom)">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <form class="ui form">
          <div class="ui inverted input" [ngClass]="{error: _chatRoomWrong}">
            <input type="text" placeholder="Chatroom" class="custom-width" [(ngModel)]="_chatRoom" (keyup.enter)="joinChatRoom(_chatRoom)">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <button class="ui inverted blue button" (click)="joinChatRoom(_chatRoom)">Betreten</button>
      </div>
    </div>
    <div class="row" *ngIf="!isUserInputValid()">
      <div class="ui error message">
        <i class="warning sign icon"></i>Bitte Benutzernamen und Chatraum angeben.<br> Die Bezeichnungen von Benutzername und Chatraum kann 30 Zeichen nicht übersteigen.
      </div>
    </div>
  </div>
</div>
