.margin-top {
  margin-top:50px !important;
}

.custom-style {
  background-color: #404244 !important;
}

.custom-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90%;
}

.custom-height {
  height: 90vh;
  position: relative;
}

.custom-chat-input {
  height: 10%;
  width: 100%;
}

.custom-chat-input-field {
  width: 100%;
}
