<div class="ui fixed centered inverted menu custom-navbar">
  <div class="ui container">
    <a class="header item" (click)="navigateToHome()">
      <img class="logo" src="app/img/PAVO_Logo_klein.svg">
      chat
    </a>
    <a class="header item" (click)="showLiveStream()">
      <i class="soccer icon"></i> Livestream starten
    </a>
  </div>
</div>
<div #liveStream *ngIf="_showLiveStream" draggable="true" id="liveStream" class="liveStream">
  <iframe src="https://player.zdf.de/miniplayer/embed/?mediaID=1822600&mediaType=livevideo&initialIndex=0&autoPlay=true&startTime=5336.649001121521&stopTime=&layoutMode=dark" width="100%" height="90%" style="margin-top:5%"></iframe>
</div>
