<div class="ui inverted segment margin-top custom-style custom-height">
  <div class="ui inverted relaxed divided list custom-style custom-list" #scrollMe>
    <div class="item">
      <div class="content">
        <div class="header"></div>
        Welcome {{_userName}} to Chatroom <i>{{_chatRoom}}</i> !
      </div>
    </div>
    <div class="item" *ngFor="let message of _messages">
      <div class="content">
        <div class="header"><strong>{{message.userName}}</strong> | {{message.date | date:'HH:mm:ss'}}</div>
        <div [innerHtml]="message.text"></div>
      </div>
    </div>
  </div>
  <!--<div class="ui inverted segment custom-style custom-chat-input">-->
  <div class="custom-chat-input">
    <div class="ui inverted divider"></div>
    <div class="ui inverted transparent icon input custom-chat-input-field">
      <input type="text" placeholder="Say something... !" [(ngModel)]="_newMessageText" (keyup.enter)="send()">
      <button class="ui icon button" (click)="send()">
        <i class="send icon"></i>
      </button>
    </div>
  </div>
</div>
