<navigation-component></navigation-component>
<router-outlet></router-outlet>
<div class="ui two column centered grid">
  <div class="column" style="margin-left:44%">
    Icons von <a href="https://icons8.com">https://icons8.com</a>
  </div>
</div>
