.margin-top {
  margin-top:50px !important;
}

.custom-style {
  background-color: #404244 !important;
  height: 20vh;
}

.custom-chatroomlist {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

h3 {
  color: white;
}
