<div class="column">
  <div class="ui inverted segment margin-top custom-style">
    <div class="ui inverted list custom-userlist">
      <h3>Chaträume</h3>
      <div class="item" *ngIf="_chatRooms.length < 1">Noch keine Chaträume vorhanden.</div>
      <div class="item" *ngFor="let chatRoom of _chatRooms">
        <a (click)="joinChatRoom(chatRoom.roomName)">{{chatRoom.roomName}}</a>
      </div>
    </div>
  </div>
</div>
