  <div class="column">
    <div class="ui inverted segment margin-top custom-style">
      <div class="ui inverted list custom-style custom-userlist">
        <h3>Userliste</h3>
        <div class="item" *ngFor="let user of _userList">{{user}}</div>
      </div>
    </div>
  </div>
