<div class="ui three column centered grid">
  <div class="column">
    <div class="row">
      <login-component></login-component>
    </div>
    <div class="row">
      <chatroomlist-component (onItemClicked)="joinChatRoom($event)"></chatroomlist-component>
    </div>
  </div>
</div>
