<div class="ui stackable sixteen column grid">
  <div class="two wide column"></div>
  <div class="eight wide column">
    <chat-component [_userName]="_userName" [_chatRoom]="_chatRoom"></chat-component>
  </div>
  <div class="four wide column">
    <userlist-component></userlist-component>
  </div>
</div>
<div class="two wide column"></div>
